
 <header id="header" class="header fixed-top d-flex align-items-center">
  <section id="menu" class="menu">
        <div class="container" data-aos="fade-up">
          <div class="section-header" style="display: flex; justify-content: space-between;">
            <p>Check Our <span>Yummy Menu</span></p>
            <%= link_to 'New Product', new_product_path, class: "btn-book-a-table" %>
          </div>
        <div class="tab-content">
          <div class="tab-pane fade active show" id="menu-starters">
              <div class="tab-header text-center" style="text-align: center;">
                <p>Menu</p>
                <h3 style="margin: 10px;">Starters</h3>
              </div>
                <div class="menu-item-row gy-5">
                <% @products.each do |product| %>
                    <div class="col-lg-4 menu-item" style="flex: 0 0 auto; width: 30%;">
                      <a href="#" class="glightbox">
                        <%= image_tag product.product_image, class: 'menu-img img-fluid' %>
                      </a>
                      <h4><%= product.name %><span style="font-size: 15px;"> (<%= product.cuisine %>)</span></h4>
                      <p class="ingredients">
                        <%= product.ingredients %>
                      </p>
                      <p class="price">
                        $<%= product.price %>
                      </p>
                    </div>
                  <% end %>
                </div>
            </div>
        </div>
        </div>
  </section>
</header>

<br>

