<!DOCTYPE html>
<html>
  <head>
    <title>Resto</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style='margin: 0;'>
  <header id="header" class="header fixed-top d-flex align-items-center" style='height: fit-content;'>
    <div class="container d-flex align-items-center justify-content-between" style="display: flex; margin: 20px 50px 20px 50px; align-items: center; max-width: inherit;">

      <a href="/home" class="logo d-flex align-items-center me-auto me-lg-0">
        <h1>Yummy<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar" style='width: 100%;'>
        <ul style='float: left;'>
          <li><a href="/">Home</a></li>
          <li><a href="/gallery/index">Gallery</a></li>
          <li><a href="/products">Products</a></li>
          <div class='contact'>
            <form action='/gallery/search'>
              <div class='form-group' style='display: flex; gap: 5px;'>
                <input type='text' name='search' placeholder='Search..' class='form-control'>
                <button style='border:none; font-size: 20px; background: transparent; cursor: pointer;'>&#128269</button>
              </div>
            </form>
          </div>
        </ul>
        <p class="navbar-text float-right" style='float: right; display: flex; align-items: center; margin: 0;'>
          <% if session[:admin] %>
            <%= link_to "Admin Log out", admin_logout_path, method: "destroy", class: "btn-book-a-table"  %> 
          <% else %>
            <%= link_to "Admin Log In", admin_login_path, method: "create", class: "btn-book-a-table"  %> |
          <% end %>
          <% if user_signed_in? %>
            <strong><%= current_user.email %></strong>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link btn-book-a-table'  %>
          <% else %>
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link btn-book-a-table'  %>
          <% end %>
        </p>
      </nav>
      
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      </div>  
  </header>
    <%= yield %>
   
  </body>
</html>
